.separator {
  text-align: center;
  border-top: dashed 3px;
  width: 100%;
}

#blog-title {
  font-size: 50px;
  margin: 25px;
}

#blog-subtitle {
}

.post-title {
  font-size:40px;
  margin-top: 50px;
}

.post-content > * {
  font-size:20px;
  line-height:1.35em;
}