.separator {
  text-align: center;
  border-top: dashed 3px;
  width: 100%;
}

#content {
  width: 700px;
  margin: auto;
}

#blog-title {
  font-size: 50px;
  margin: 25px;
}

#blog-subtitle {}

.post-title {
  font-size:40px;
  margin-top: 50px;
}

.post-content > * {
  font-size:20px;
  line-height:1.35em;
}

a.blogbutton {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #979797;
  margin: 10px;
  color: #F0F0F0;
  text-decoration: none;
}

a.blogbutton:hover {
  background-color: #8A8A8A;
}

a.blogbutton:active {
  background-color: #7A7A7A;
}