#editor {
  border: none;
  background:#3d3d3d;
  color:#c8c8c8;
  font-family:monospace;
  font-size:14px;
  line-height:1.35em;
  padding: 18px;
  resize:none;
  width: calc(100% - 36px);
  height:500px;
}

#preview { width: 100%; text-align: left; }

#title-field {
  width: calc(100% - 50px);
  text-align: center;
  margin: 25px 0px;
  font-size: 30pt;
  border:0;
  border-bottom: 2px dotted;
  background-color: transparent;
  outline: none;
}

#save-button.blogbutton {
  background-color: #64A58D;
}

#preview-button.blogbutton {
  background-color: #8A5FD2;
}

#delete-button.blogbutton {
  background-color: #B15D42;
}

#save-button.blogbutton:hover { color: #fff;background-color: #8A8A8A; }
#preview-button.blogbutton:hover { color: #fff;background-color: #8A8A8A; }
#delete-button.blogbutton:hover { color: #fff;background-color: #8A8A8A; }