#editor {
  background:#3d3d3d;
  color:#c8c8c8;
  font-family:monospace;
  font-size:14px;
  line-height:1.35em;
  padding: 18px;
  resize:none;
  width: calc(100% - 36px);
  height:500px;
}

#preview {
  width: 100%;
  text-align: left;
}

#title-field {
  width: calc(100% - 50px);
  text-align: center;
  margin: 25px 0px;
  font-size: 30pt;
  border:0;
  border-bottom: 2px dotted;
  background-color: transparent;
  outline: none;
}

#buttons-table {
  border-spacing: 10px;
  border-collapse: separate;
}

#buttons > button {
  margin: 0px 60px;
}

.wordlist-view span:after {
	content: "\00D7";
	margin-left: 5px;
	cursor: pointer;
}

.wordlist-view {
	margin-bottom: 20px;
}
.wordlist-view * {
	font-size: 16px;
	line-height: 22px;
}
.wordlist-view span {
	display: inline-block;
	padding: 5px;
  border: 1px solid #7F7F7F;
  border: solid #7F7F7F;
	border-width: 1px 0 1px 1px;
}

.wordlist-view input {
  border: 1px solid #7F7F7F;
  margin: 0;
  padding: 5px;
  width: 110px;
  border-width: 1px;
}