#editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

#editor textarea, #editor div {
  background-color: #f6f6f6;
  padding: 10px;
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#editor textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}

#editor code {
  color: #f66;
}