.wordlist-view {
  margin: 30px;
}

.wordlist-view * {
  font-size: 20px; /* Change this to change the size of the wordlist. */
}

.wordlist-view input {
  width: 100px;
  
  vertical-align: middle;
  padding: 10px;
  padding-left: 5px;
  
  border: none;
  background-color: #545454;
  color: #F0F0F0;
}

.wordlist-item {
  background-color: #80B9B4;
  color: #F0F0F0;
  display: inline;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}

.wordlist-view span:after {
	content: "\00D7";
	margin-left: 5px;
	cursor: pointer;
}