/* Page setup */

body {
  background: #F0F0F0;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: #333;
  max-width: 700px;
  margin: 20px auto;
}

/* Page header */

.header:not(.nopadding):not(:last-child) {
  margin-bottom: 80px;
  display: block;
}

/* HTML primitive tags (mostly for rendered markdown) */

a {
  text-decoration: none;
  color: #876e71;
}

a:hover {
  color: #9f8e90;
}

a:active {
  color: #bcadaf;
}

a < img {
  border: none;
  outline: none;
}

code {
  font-family: monospace;
}

:not(pre) > code {
  border: 1px solid #C9C6C6;
  background: #F2EDED;
	padding: 0 0.2em 0 0.2em;
}

pre {
  padding: 0.1em 0.4em 0.1em 0.4em;
	overflow: auto;
	width: 93%;
  border: 1px solid #C9C6C6;
  background: #F2EDED;
}

blockquote {
  border-left: 5px solid #eab05b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

/* Text */

.title {
  font-size: 50px;
  margin: 5px;
  font-family: 'Oxygen',helvetica,sans-serif;
}

.subtitle {
  font-size: 20px;
  margin: 10px;
  font-family: 'Oxygen Light',helvetica,sans-serif;
}

.tagline {
  font-size: 15px;
  margin: 10px;
  font-family: 'Oxygen Light',helvetica,sans-serif;
}

#name-title {
  color: #b15d42;
}

#prevbutton {
  float: left;
  margin: 20px;
}

#nextbutton {
  float: right;
  margin: 20px;
}

/* Posts */

.post {
  text-align: left;
  margin: 0px 10px 25px 10px;
}

.post-header {
  margin-bottom: 10px;
  position: relative;
}

.post-headerbox {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.post-title {
  font-size:30px;
  font-family: 'Oxygen',sans-serif;
  color: #80B9B4;
  margin: 0px;
}

.post-title:hover {
  color: #94e1c8;
}

.post-title:active {
  color: white;
}

.post-subtitle {
  margin: 0px;
  margin-top: 10px;
}

.post-content > * {
  font-size: 20px;
  line-height: 1.35em;
}

.post-edit-button {
  margin-top: 10px;
  display: block;
}

a.taglink {
  color: gray;
  display: inline-block;
  margin: 5px;
  padding: 0.4em 0.6em 0.4em 0.6em;
  border-radius: 1em;
  border: 0.1em solid white;
}

a.taglink.selected-tag {
  background-color: white;
}

a.taglink:hover {
  color: #888;
  background-color: #ddd;
}

a.taglink:active {
  color: #888;
  background-color: white;
}

a.read-more {
/*  TODO: colors */
}

/*

Common Styles

*/

/* Buttons */

.button {
  font-size: 16px;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #daccae;
  color: #876e71;
  border-radius: 2px;
  margin: 5px;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset 0px 3px gray;
}

.button:active {
  background-color: #c9bca0;
}

/* Text Fields */

input[type="text"].textfield,
input[type="password"].textfield {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #C9C9C9;
  transition: border 0.3s;
  border-radius: 0;
}

input[type="text"].textfield:focus,
input[type="password"].textfield:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

textarea.textarea {
  width: 95%;
  height: 200px;
  padding: 8px 8px 8px 10px;
  border: none;
  border-left: solid 2px #C9C9C9;
  resize: none;
  outline: none;
  font-size: 15pt;
  background-color: white;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  appearance: none;
  border-radius: 0;
}

textarea.textarea:focus {
  border-left: solid 2px #969696;
}