@font-face {
    font-family: refrigerator-light;
    src: url('/assets/fonts/refrigerator/refrigerator-light.eot');
    src: url('/assets/fonts/refrigerator/refrigerator-light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/refrigerator/refrigerator-light.woff2') format('woff2'),
         url('/assets/fonts/refrigerator/refrigerator-light.woff') format('woff'),
         url('/assets/fonts/refrigerator/refrigerator-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oxygen-bold;
    src: url('/assets/fonts/oxygen/Oxygen-Bold.eot');
    src: url('/assets/fonts/oxygen/Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/oxygen/Oxygen-Bold.woff2') format('woff2'),
         url('/assets/fonts/oxygen/Oxygen-Bold.woff') format('woff'),
         url('/assets/fonts/oxygen/Oxygen-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oxygen-light;
    src: url('/assets/fonts/oxygen/Oxygen-Light.eot');
    src: url('/assets/fonts/oxygen/Oxygen-Light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/oxygen/Oxygen-Light.woff2') format('woff2'),
         url('/assets/fonts/oxygen/Oxygen-Light.woff') format('woff'),
         url('/assets/fonts/oxygen/Oxygen-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oxygen-regular;
    src: url('/assets/fonts/oxygen/Oxygen-Regular.eot');
    src: url('/assets/fonts/oxygen/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/oxygen/Oxygen-Regular.woff2') format('woff2'),
         url('/assets/fonts/oxygen/Oxygen-Regular.woff') format('woff'),
         url('/assets/fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*[hidden] { display: none; }

body {
  background: #F0F0F0;
  margin: 0px;
  padding: 10px;
  font-family: helvetica, sans-serif;
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #979797;
}

a < img {
  border: none;
  outline: none;
}

#content {
  max-width: 700px;
  margin: auto;
}

#blog-title {
  font-size: 50px;
  margin: 25px;
  font-family: refrigerator-light,helvetica,sans-serif;
}

#blog-subtitle {
  font-size: 20px;
  margin: 20px;
  font-family: menlo,helvetica,sans-serif;
}
  
#prevbutton {
  float: left;
  margin: 20px;
}

#nextbutton {
  float: right;
  margin: 20px;
}

.separator {
  text-align: center;
  border-top: dashed 3px;
  width: 100%;
}

.post-title {
  font-size:40px;
  margin-top: 50px;
  font-family: oxygen-regular,sans-serif;
}

.post-content > * {
  font-size: 20px;
  line-height: 1.35em;
  text-align: left;
}

.post-edit-button {
  display: block;
}

.taglink {
  display: inline-block;
  color: inherit;
  padding: 0px 10px;
}

.taglink:hover {
  color: #888;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Buttons */

a.blogbutton {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #9A9A9A;
  
  margin: 6px;
/*  margin: 10px;*/
  color: #F9F9F9;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a.blogbutton:hover {
  background-color: #5A5A5A;
}

a.blogbutton:active {
  background-color: #9F9F9F;
}

/* Text Fields */
input[type="text"].blogtextfield, input[type="password"].blogtextfield {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"].blogtextfield:focus, input[type="password"].blogtextfield:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}