.comment {
  text-align: left;
  padding: 10px;
  background-color: #EAEAEA;
  position: relative;
  border-left: 1px solid gray;
}

/* partial bottom border */
.comment:after {
  content:''; 
  width: 50px; 
  height: 1px;
  background: gray; 
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.comment-name {
  margin-top: 0px;
}

div.editor {
  text-align: left;
}

div.gobutton {
  display:inline-block;
  align: center;
  width: 100px;
  height: 40px;
  background-image: url('/assets/images/gobutton.svg');
  margin-left: 5px;
}

div.gobutton:active {
  opacity: 0.5;
}

textarea.comment-textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 8px 8px 8px 10px;
  border: none;
  border-left: 2px solid #E7950E;
  resize: none;
  outline: none;
  font-size: 15pt;
  background-color: #E6E6E6;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
}

input.comment-field {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #9F8E90;
  background-color: rgba(0,0,0,0);
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 16pt;
  color: #4A4A4A;
}

textarea.comment-textarea,
input.comment-field {
  -webkit-appearance: none;
  border-radius: 0;
}

.top-fields {
  display:block;
}