.comment {
  text-align: left;
  padding: 10px;
  background-color: #EAEAEA;
  position: relative;
  border-left: 1px solid gray;
}

/* partial bottom border */
.comment:after {
  content:''; 
  width: 50px; 
  height: 1px;
  background: gray; 
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.comment-name {
  margin-top: 0px;
}

div.editor {
  text-align: left;
}

div.gobutton {
  display: block;
  width: 100px;
  height: 40px;
  background: url('/assets/images/gobutton.svg') no-repeat;
  margin: 10px auto;
  cursor: pointer;
}

div.gobutton:active {
  opacity: 0.5;
}

textarea.comment-textarea {
  width: 95%;
  height: 200px;
}

input.comment-field.textfield {
  margin: 10px;
  width: 40%;
  display: block;
}

textarea.comment-textarea.textarea:focus {
  border-left: solid 2px #80B9B4;
}

input.comment-field.textfield:focus {
  border-bottom: solid 2px #80B9B4;
}