#spinner-container {
  text-align:middle;
  height:200px;
  position: relative;
}

.comment {
  text-align: left;
  margin: 10px;
  padding: 10px;
  background-color: #EAEAEA;
  border-radius: 10px;
}

.editor {
  text-align: left;
  margin: 10px;
}

.comment-avatar {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  border-radius: 30px;
  border: none;
  height: 100%;
  vertical-align: top;
}

.comment-name {
  margin-top: 0px;
}

.comment > div {
  margin-left: 10px;
  height: 100%;
  vertical-align: middle;
}

div.gobutton {
  display:inline-block;
  vertical-align: middle;
  width: 100px;
  height: 40px;
  background-image: url('/assets/images/gobutton.svg');
  margin-left: 5px;
}

div.gobutton:active {
  opacity: 0.5;
}

textarea.comment-textarea {
  width: 540px;
  height: 200px;
  margin: 10px 10px 10px 0px;
  padding: 8px 8px 8px 10px;
  border: none;
  border-left: 4px solid #E7950E;
  resize: none;
  outline: none;
  font-size: 23pt;
  background-color: #E6E6E6;
  font-family: Helvetica, sans-serif;
  display: inline;
  display: inline-block;
  vertical-align: middle;
}

input.comment-field {
  width: 270px;
  height: 40px;
  margin: 0px 20px 10px 0px;
  border: none;
  border-bottom: 2px solid #9F8E90;
  background-color: rgba(0,0,0,0);
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 25pt;
  color: #4A4A4A;
}

.top-fields {
  display:block;
}