.wordlist-view {
  max-width: 700px;
  margin: 30px;
  width: auto;
}

.wordlist-view * {
  font-size: 20px; /* Change this to change the size of the wordlist. */
}

.wordlist-view input {
  width: 80px;
  padding: 10px;
  margin: 5px 0px;
  vertical-align: middle;
  
  border: none;
  color: #F0F0F0;
  background-color: #545454;
}

.wordlist-item {
  background-color: #80B9B4;
  color: #F0F0F0;

  display: inline-block;

  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wordlist-view span:after {
	content: "\00D7";
	margin-left: 5px;
	cursor: pointer;
}